body{
    color: deepskyblue;
    text-align: center;
    font-family: "Courier";
    
}
#container{
    width: 70px;
    margin: 0 auto;
    
}
#cabecera{
    background: dodgerblue;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}